body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}


header {
    background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
    border-bottom: solid 1px #275da1;
    color: white;
    padding: 23px 0px;
}
header h1 {
    font-size: 40px;
    margin: 21px 0 0 0;
}

header a {
    color: white;
}

header .inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

#titleBar {
    background-color: #275da1;
    color: white;
    padding-top:4px;
    padding-bottom:5px;
}
#titleBar p {
    font-size: 20px;
}
#titleBar a {
    color: lightblue;
}
#titleBar a:hover {
    background-color:#274889;
}

.page {
    margin-top:20px;
    position: relative;
}
#main-content {
    position: relative;
}

#sidebar .affix {
    top:20px;
    width:213px;
}

.wl-docs-section {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightblue;
}

.flex1 { flex-grow: 1; }
.flex2 { flex-grow: 2; }
.flex3 { flex-grow: 3; }
.flex4 { flex-grow: 4; }
.flex5 { flex-grow: 5; }
.flex6 { flex-grow: 6; }
.flex7 { flex-grow: 7; }

.directory-list {
    list-style-type: none;
    padding-left: 15px;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.directory-list .folder::before {
    display: inline-block;
    width: 15px;
    height: 12px;
    margin-right: 5px;
    content: "";
    opacity:0.5;
    background: url('../images/glyphicons-145-folder-open.png') no-repeat 0 0;
    background-size: 100%;
}
.directory-list .file::before {
    display: inline-block;
    width: 10px;
    height: 12px;
    margin-right: 5px;
    content: "";

    background: url('../images/glyphicons-37-file.png') no-repeat 0 0;
    background-size: 100%;
}
.tiny {
    font-size: 15px;
    color: blueviolet;
}
li>.tiny {
    color: tomato;
}